<div class="background2">

    <p class="introduction">Why support our cause?</p>
</br>
    <ul>
        <li>Between 2012 and 2016 the demand for avocado doubled in Europe, according to the Centre for the Promotion of Imports (CBI).</li>
        <li>According to research done by Carbon Footprint Ltd in 2017, the carbon footprint of just two avocados can be double that of one kilo of bananas.</li>
        <li>Avocado crops use a great amount of water, which may lead to water scarcity in remote locations across the world. For example, Petorca, Chile, rivers are drying up and locals are struggling to access water due to avocado production.</li>
        <li>“Please avoid consuming avocados from South Africa because of the water stress [they are] responsible for” Mariken Stolk, spokesperson of the Milieu Centraal, told The Scoop. The Milieu Centraal is an independent organizationis to persuade consumers to make more sustainable choices.</li>
        <li>Deforestation is another concern related to the production of avocados. In Mexico, the increased demand of avocado production has led to the widespread destruction of the natural rainforest.</li>
        <li>Growers in Michoacán, west Mexico, have had their land seized by drug lords who are reported to be earning £150m a year by selling the so-called “blood avocados” to British traders.</li>
    </ul>
</br>
<a href="/register">Please, help this cause, and register in our website to sign this Petition</a>








</div>
