<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="sticker">
                <a href="/register"><img id="sticker"src="avocadomenu1.jpg" alt="avocado sticker"></a>
            </div>
            <h1>Reduce the consume of Avocados</h1>
        </header>

        <div class="avocado">
            {{{ body }}}
        </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="signature.js" charset="utf-8"></script>
    <script src="db.js" charset="utf-8"></script>
    </body>
</html>
