


    <div class="background">


    <form class="" action="/petition" method="POST">
        <p>Name:</p>
        <input id="firstName" type="text" name="firstnameuser" value="">
        <p>Last Name:</p>
        <input id="lastName" type="text" name="lastnameuser" value="">
        <p>Signature:</p>
        <input id="signature" type="hidden" name="signature" value="">
        <canvas id="canvas" width="300" height="200"></canvas>
        <input name='_csrf' value='{{csrfToken}}' type='hidden'>
        <input class="submit" type="submit" name="submit" value="SUBMIT">
    </form>
</div>
